# Data Files (Too large for GitHub)
*.parquet
*.csv

# Model Binaries
*.pkl

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
